
.box-text{
    text-align: center;
}
.box-text{
    margin-top: 20px;
    border: 1px solid gray;
    height: 200px;
    overflow: hidden;
    display: none;
    padding: 6px 12px;
    margin-right: 30%;
    margin-left: 30%;
  
}
.btn-block{
    text-align: center;

}
.btn-info{
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    font-size: 20px;
}
